

.weatherLocationCont{
    width: calc(100% - 20px);
    margin: 0px 10px;
    box-sizing: border-box;
    min-width: 450px;
    font-family: 'Roboto', 'sans-serif';
    -webkit-box-shadow: 11px 14px 25px -3px rgba(0,0,0,0.51);
    -moz-box-shadow: 11px 14px 25px -3px rgba(0,0,0,0.51);
    box-shadow: 11px 14px 25px -3px rgba(0,0,0,0.51);
    background: rgba(0, 200, 0, 0.1);
    padding: 5px 10px 2px 10px;
    cursor: pointer;
}
.locationCont{
    width: 100%;
    height: 35px;
    line-height: 35px;
    margin-right: 15px;
    text-align: left;
    padding-left: 10px;
    color: #888888;
}

.locationCont h1{
    margin: 0;
}
