
.weatherDataCont{
    background: rgba(200, 200, 200, 0.5);
    width: 100%;
    height: 100px;
    line-height: 100px;
    border-radius: 5px;
    padding-top:10px;
}

.weatherTempetureCont{
    width: 60%;
    display: inline-block;
}
.tempeture{
    font-size: 35px;
    font-weight: bold;
    padding-left: 20px;
    color: #333333;
}
.wicon{
    color: red;
}
.tempeturetype{
    font-weight: bold;
    color: #666666;
}
.weatherExtraInfoCont{
    width: 40%;
    display: inline-block;
    line-height: 28px;
    text-align: left;
}
.extraInfoText{
    display: block;
    color: #1535c5;
    font-size: 18px;
    font-weight: bold;
}